@import url(https://fonts.googleapis.com/css2?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css2?family=Righteous);
@import url(https://fonts.googleapis.com/css2?family=Dosis);
body {
  font-family: "Dosis", sans-serif;
  margin: 0px;
  color: #00a2ff;
  background-color: #242423;
  font-size: 20px;
}
p {
  margin-left: 250px;
  margin-right: 150px;
}

table.card,
table.win {
  text-align: center;
  border: 2px solid #333533;
  margin-left: auto;
  margin-right: auto;
  width: 728px;
  height: 728px;
  margin-bottom: 10px;
}

table.win {
  border: 2px solid #0f0;
}

table.card td,
table.win td {
  border: 1px solid #333533;
  width: 100px;
  height: 100px;
  padding: 2px;
  font-weight: bold;
  font-size: 20px;
}

table.card td:hover,
table.win td:hover {
  background-color: #95c2ff;
}

table.card td.clicked,
table.win td.clicked {
  background-color: #00a2ff;
  color: #333533;
}

table.card td.clicked:hover,
table.win td.clicked:hover {
  background-color: #00a2ff;
  color: #333533;
}

table.card td.win,
table.win td.win {
  background-color: #172b75;
}

table.card td.freecell,
table.win td.freecell {
  font-weight: bold;
  background-color: #00a2ff;
  color: #333533;
  font-size: 20px;
}

.header {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 750px;
  height: 75px;
  vertical-align: middle;
  background-color: #00a2ff;
  position: relative;
}

hr {
  color: #000;
  background-color: #fff;
  border: 1px dashed #ccc;
  width: 90%;
}

h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333533;
}

h2 {
  margin-top: 0px;
}

/***************
FOOTER STYLING
***************/

.footer {
  text-align: center;
  padding: 2rem 0;
}

.footer .container {
  border-top: 4px solid #d9d9d9;
  padding: 1rem 0;
  padding-top: 0.5em;
  margin: 20px;
}

.footer .copy,
.footer .footer-links {
  font-size: 0.8em;
}

.footer .copy {
  float: left;
  margin-bottom: 1rem;
}

.footer-links {
  float: right;
}

.footer-links ul {
  text-align: center;
}

.footer-links ul li {
  display: inline-block;
}

.footer-links ul li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-in-out;
}

.footer-links ul li a svg {
  display: block;
  width: 100%;
  height: 100%;
}

.footer-links ul li a svg .outer-shape {
  fill: #00a2ff;
}

.footer-links ul li a svg .inner-shape {
  fill: white;
}

.footer-links ul li:hover a svg .outer-shape {
  fill: #21653f;
}
